.btn {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: 55px;
    height: 55px;
    border: none;
    background-color: white;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--mc);
    box-shadow: var(--bs)
}