.wrapper {
    width: 100%;
    background-color: white;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 65%;
    height: 240px;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.profile_pic {
    position: relative;
    border-radius: 10px;
    width: 240px;
    overflow: hidden;
}

.details_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.details_one h2 {
    font-size: 45px;
    width: 400px;
    line-height: 1.3;
}

.details_one p {
    font-size: 18px;
    width: 350px;
    color: var(--lt);
    line-height: 2;
}

.details_two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.countboard_container {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 20px;
}
.links a{
    width: 40px;
    height: 40px;
    display: block;
}
.links a svg{
    width: 100%;
    height: 100%;
}