.wrapper {
    width: 100%;
    background-color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 250px;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.profile_pic {
    background-color: black;
    border-radius: 100vh;
    width: 250px;
}

.details_one {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.details_one h2 {
    font-size: 40px;
}

.details_one p {
    font-size: 18px;
    width: 400px;
    color: var(--lt);
    line-height: 1.8;
}

.details_two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.countboard_container {
    display: flex;
    justify-content: space-around;
}