.wrapper {
    width: 100%;
    background-color: white;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--bs);
}

.container {
    flex-basis: 65%;
    height: 260px;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
}

.profile_pic {
    position: relative;
    border-radius: 10px;
    width: 260px;
    overflow: hidden;
}

.details_one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.details_one h2 {
    font-size: 42px;
    width: 400px;
    line-height: 1.3;
}

.details_one p {
    font-size: 18px;
    width: 350px;
    font-weight: 500;
    color: var(--lt);
    line-height: 2;
}

.details_two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.countboard_container {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    width: 38px;
    height: 38px;
    display: block;
}

.links a svg {
    width: 100%;
    height: 100%;
}