.addblog {
    height: 450px;
    overflow-y: scroll;
    position: relative;
    padding: 30px;
    text-align: center;
}

.addblog input[type="text"],
.addblog textarea {
    padding: 20px;
    border: .5px solid #ccc;
    border-radius: 15px;
    font-size: 20px;
    width: 100%;
    margin: 25px 0 40px 0;
}

.image {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto 40px auto;
    gap: 20px;
}

.image label {
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--mc);
    font-weight: 500;
    border: 1px solid var(--mc);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.image label:hover {
    background-color: var(--mc);
    color: white;
}

.image label.added {
    background-color: var(--mc);
    color: white;
}

.image p {
    font-size: 15px;
    line-height: 1.7;
    word-wrap: break-word;
}

.deletebtn_container {
    display: flex;
    gap: 10px;
}
.deletebtn_container button{
   flex-basis: 50px;
   border-radius: 10px;
   background-color: red;
   border: none;
   font-size: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--lt);
   color: white;
}

.addblog input[type="file"] {
    display: none;
}

.addblog textarea {
    height: 300px;
    line-height: 1.5;
    resize: vertical;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    border: none;
    border-radius: 10px;
}

.addblog_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-bottom: .5px solid #ccc;
    box-sizing: content-box;
    position: relative;
}

.addblog_heading h3 {
    font-size: 23px;
}

.addblog_heading button {
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 100vh;
    font-size: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: #ddd;
    top: 15px;
    right: 15px;
}

.addblog::-webkit-scrollbar {
    width: 12px;
}

.addblog::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 4px solid white;
}

.change_container {
    padding: 15px 30px 25px 30px;
    display: flex;
    gap: 15px;
}

.change_container button {
    flex: 1;
    height: 55px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: var(--mc);
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 35px;
}

.disabled {
    opacity: 0.7;
}