:root {
    --mc: #1877f2;
    --t: #333;
    --lt: #777;
    --bs: rgba(99, 99, 99, 0.2) 0 0 8px 0px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f0f0f0;
    color: var(--t);
    user-select: none;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--t);
}

::backdrop {
    background-color: #333;
    opacity: 0.8;
}