.wrapper {
    height: 80px;
}

.container {
    background-color: white;
    display: flex;
    height: 80px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: var(--bs);
}