.profile_pic,
.name,
.email,
.bio div,
.links div,
.countboard div,
.header div,
.nav_container div {
    background: linear-gradient(120deg,
            #ddd 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #ddd 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}

.wrapper {
    width: 100%;
    background-color: white;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--bs);
}

.container {
    flex-basis: 65%;
    height: 260px;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
}

.profile_pic {
    border-radius: 10px;
    width: 260px;
    overflow: hidden;
}

.details_one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name {
    width: 280px;
    height: 40px;
    border-radius: 10px;
}
.email{
    height: 15px;
    border-radius: 10px;
    width: 150px;
}
.bio {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bio div {
    height: 15px;
    border-radius: 10px;
}

.bio div:nth-child(2) {
    width: 150px;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links div {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}

.details_two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.countboard_container {
    display: flex;
    justify-content: space-around;
}

.countboard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.countboard div {
    width: 65px;
    border-radius: 10px;
}

.countboard div:nth-child(1) {
    height: 50px;
}

.countboard div:nth-child(2) {
    height: 18px;
}

.header{
    height: 75px;
    background-color: white;
    margin: 20px auto;
    width: 70%;
    box-shadow: var(--bs);
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div{
    border-radius: 10px;
    width: 100px;
    height: 20px;
}