.wrapper {
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
}

.wrapper.current {
    background-color: var(--t);
}

.container {
    position: relative;
    height: 85%;
    width: 85%;
    border-radius: 100vh;
    overflow: hidden;
}