.container {
    width: 35%;
    height: 75px;
    margin: 20px auto;
    background-color: white;
    border-radius: 100vh;
    box-shadow: var(--bs);
    display: flex;
    padding: 10px;
    gap: 10px;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--lt);
    border-radius: 100vh;
    font-size: 15px;
}

.container a.active {
    background-color: var(--lt);
    color: white;
}