.dlt_btn {
    width: 32px;
    height: 32px;
    font-size: 22px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 25px 20px 20px 20px;
    width: 450px;
}

.modal h3 {
    font-size: 20px;
    padding-bottom: 25px;
    border-bottom: .5px solid #ccc;
}

.modal p {
    padding: 30px 0 35px 0;
}

.modal .error{
    color: red;
    padding:0 0 15px 0;
    font-weight: 500;
    font-size: 15px;
}

.footer {
    display: flex;
    gap: 10px;
}

.footer button {
    flex: 1;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.footer.disabled button{
    opacity: 0.7;
}

.ok_btn {
    background-color: var(--mc);
    color: white;
}

.cancel_btn {
    background-color: #ececec;
    color: var(--t);
}