.image,
.details div {
    background: linear-gradient(120deg,
            #ddd 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #ddd 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.image {
    width: 52px;
    height: 52px;
    border-radius: 100vh;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.name {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
}

.author {
    width: 80px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
}